/*!*************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!../../../AppData/Roaming/npm/node_modules/powerbi-visuals-tools/node_modules/less-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./style/visual.less ***!
  \*************************************************************************************************************************************************************************************************************/
p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoidmlzdWFsLmNzcyIsIm1hcHBpbmdzIjoiOzs7QUFBQTtFQUNJO0VBQ0E7QUFDSjtBQUhBO0VBSVE7RUFDQTtBQUVSIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vcmlza01hdHJpeEU2QzIxODAyNzFDQzQzRDNCMTNBNzE0RjI0NTVEMURFX0RFQlVHLy4vc3R5bGUvdmlzdWFsLmxlc3MiXSwic291cmNlc0NvbnRlbnQiOlsicCB7XG4gICAgZm9udC1zaXplOiAyMHB4O1xuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xuICAgIGVtIHtcbiAgICAgICAgYmFja2dyb3VuZDogeWVsbG93O1xuICAgICAgICBwYWRkaW5nOiA1cHg7XG4gICAgICAgIFxuICAgIH1cbn0iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/